<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Historial de compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-list size="6">
      <ion-item>
        <ion-label>
          <h2>Carrito 1</h2>
          <p>Productos</p>
          <p>5</p>
        </ion-label>
        <ion-label>
          <p>Precio total</p>
          <p>$10000</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>