<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Carrito
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-list size="6" *ngFor="let carrito of carritoService.getCarrito();">
      <ion-item>
        <ion-label>
          <h2>{{carrito.name}}</h2>
          <p>{{carrito.price | currency}}</p>
          <p>x{{carrito.amount}}</p>
        </ion-label>
        <ion-label>
          <p>Precio total</p>
          <p>{{carrito.totalPrice | currency}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label >
        <h1>Total carrito:</h1>
        <p>{{carritoService.suma | currency}}</p>
      </ion-label>
    </ion-item>
  </ion-grid>
</ion-content>
