<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col size="12">
        <ion-select label="Selecciona tipo" [multiple]="true" 
                    interface="popover" labelPlacement="floating"
                    [(ngModel)]="filter"
                    (ionChange)="filterProducts()">
          <ion-select-option value="todos">all</ion-select-option>
          <ion-select-option value="abarrotes">abarrotes</ion-select-option>
          <ion-select-option value="limpieza">limpieza</ion-select-option>
          <ion-select-option value="frutas y verduras">frutas y verduras</ion-select-option>
          <ion-select-option value="farmacia">farmacia</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" *ngFor="let product of productsFound; index as i">
        <ion-card>
          <img [src]="product.photo" />
          <ion-card-header>
            <ion-card-title>{{product.name}}</ion-card-title>
            <ion-card-subtitle>{{product.price}}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <div class="">{{product.description}}</div>
            <div class="">Tipo: <ion-badge color='primary'>{{product.type}}</ion-badge> </div>
            <div style="
              display: flex;
              justify-content: flex-end;
            "><ion-button shape="round"
                          (click)="insertProduct(product.name, product.price, 1)">Agregar al carrito</ion-button></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-list size="6" *ngFor="let carrito of carritos;">
      <ion-item>
        <ion-label>
          <h2>{{carrito.name}}</h2>
          <p>${{carrito.price}}</p>
          <p>x{{carrito.amount}}</p>
        </ion-label>
        <ion-label>
          <p>Precio total</p>
          <p>${{carrito.totalPrice}}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-label >
        <h1>Total carrito:</h1>
        <p>${{suma}}</p>
      </ion-label>
    </ion-item>

  </ion-grid>
</ion-content>
